*.nupkg
*.nupkg.bak
*.webinfo
*.log
*.dll
*.obj
*.pdb
*.user
*.suo
*.cache
src/obj/*
src/bin/*
docs/obj/*
docs/bin/*
NeuroSpeech.Atoms.dll
NeuroSpeech.Atoms.pdb
*.webinfo
nuget/Atoms.js/bin
nuget/Atoms.js/obj
/packages
/Bin
/atoms.min.js.map
/obj
nuget/Atoms.js/NuGet.log

/atoms.t.js
tsrc/node_modules/
