body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.atom-auto-complete-box {
  position: relative;
  width: 100px;
  padding: 1px;
  margin: 1px;
  border: 1px solid lightgray;
  background: white;
  height: 23px;
}
span.atom-auto-complete-box {
  display: inline-block;
}
.atom-auto-complete-box input {
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  margin: 0;
  width: 100%;
}
.atom-auto-complete-box input:active {
  border: none;
  margin: 0;
}
.atom-auto-complete-box input:disabled {
  border: none;
  margin: 0;
  color: lightgray;
}
.atom-auto-complete-box input:focus {
  border: none;
  margin: 0;
}
.atom-auto-complete-box input:hover {
  border: none;
  margin: 0;
}
.atom-auto-complete-box .popup {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px #808080;
  padding: 2px;
  background-color: white;
}
.auto-complete-popup {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px #808080;
  padding: 2px;
  background-color: white;
}
.atom-date-field {
  position: relative;
  border: 1px solid lightgray;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  height: 15px;
}
.atom-date-field .date-label {
  display: block;
  padding-left: 5px;
  padding-right: 20px;
  background-position: right top;
  background-image: url('buttons/down.png');
  background-repeat: no-repeat;
  height: 18px;
}
.atom-date-field .date-label-open {
  background-image: url('buttons/up.png');
}
.atom-date-field .atom-date-list-box {
  position: absolute;
}
.atom-date-field .popup-open {
  display: block;
}
.atom-date-field .popup-closed {
  display: none;
}
.atom-date-field .atom-date-list-box-calendar {
  left: 0;
  top: 0;
  border: 1px solid lightgray;
  border-top-style: none;
}
.atom-date-popup {
  margin-left: -2px;
  position: absolute;
  width: 198px;
  height: 200px;
  background-color: white;
  left: -1px;
  z-index: 11;
}
.atom-date-popup.popup-open {
  display: block;
}
.atom-date-popup.popup-closed {
  display: none;
}
.atom-date-list-box {
  width: 300px;
  height: 215px;
  position: relative;
  padding: 2px;
  border: 1px solid lightgray;
  background-color: white;
}
.atom-date-list-box .list {
  width: 100px;
  height: 200px;
  margin: 1px;
  position: absolute;
  left: 200px;
  top: 2px;
  text-align: right;
  overflow: auto;
}
.atom-date-list-box .calendar {
  width: 200px;
  height: 215px;
  position: absolute;
  left: 2px;
  top: 2px;
  background-color: white;
  z-index: 11;
}
.atom-date-list-box .calendar .days {
  position: absolute;
  left: 10px;
  top: 35px;
  height: 25px;
  text-align: center;
}
.atom-date-list-box .calendar .days span {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0px;
  padding: 0px;
  float: left;
}
.atom-date-list-box .calendar .month {
  margin-left: 10px;
  width: 100px;
}
.atom-date-list-box .calendar .year {
  width: 70px;
}
.atom-date-list-box .calendar .day-list {
  position: absolute;
  left: 10px;
  top: 62px;
  height: 150px;
  width: 180px;
}
.atom-date-list-box .calendar .list-item {
  width: 23px;
  height: 23px;
  margin: 1px;
  padding: 0px;
  float: left;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.atom-date-list-box .calendar .list-item:hover {
  margin: 0px;
  border: 1px solid blue;
}
.atom-date-list-box .calendar .other {
  color: lightgray;
}
.atom-date-list-box .calendar .weekend-header {
  background-color: #bebebe;
}
.atom-date-list-box .calendar .weekend {
  background-color: #eeeeee;
}
.atom-date-list-box .calendar .today {
  background-color: #ff6a00;
}
.atom-date-list-box .calendar .selected {
  background-color: darkgreen;
  color: white;
}
.atom-calendar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
.atom-calendar > header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  text-align: center;
  position: relative;
}
.atom-calendar > header > button.prev {
  float: left;
}
.atom-calendar > header > button.next {
  float: right;
}
.atom-calendar > ul.days {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 5px;
  margin: 0;
  width: 100%;
}
.atom-calendar > ul.days > li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  float: left;
  display: inline-block;
  list-style: none;
  width: 14.28%;
  padding: 5px;
}
.atom-calendar > ul.days > li.weekend {
  background-color: lightgray;
}
.atom-calendar > section.day-list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}
.atom-calendar > section.day-list > div {
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 5px;
  width: 14.28%;
}
.atom-calendar > section.day-list > div.today {
  background-color: orange;
}
.atom-calendar > section.day-list > div.selected {
  background-color: blue;
  color: white;
}
.atom-calendar > section.day-list > div.other {
  color: gray;
}
.atom-calendar > section.day-list > div.weekend {
  background-color: lightgray;
}
.atom-calendar > section.day-list > div.weekend.selected {
  background-color: blue;
  color: white;
}
.atom-dock-panel {
  overflow: hidden;
  position: absolute;
}
.atom-dock-panel > * {
  position: absolute;
}
.atom-dock-application {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.atom-dock-application > * {
  position: absolute;
}
ul.atom-link-bar {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 5px;
}
ul.atom-link-bar > li.list-item {
  cursor: pointer;
  text-align: center;
  list-style-type: none;
  padding: 5px;
}
ul.atom-link-bar > li.list-item a {
  text-decoration: none;
}
ul.atom-link-bar > li.list-item a:hover {
  text-decoration: underline;
}
ul.atom-link-bar > li.list-item:hover {
  text-decoration: underline;
}
ul.atom-link-bar > li.list-item.sub-menu {
  display: inline-block;
  padding-right: 18px;
  background-image: url('buttons/down.png');
  background-position: right;
  background-repeat: no-repeat;
}
ul.atom-link-bar > li.list-item.selected-item {
  font-weight: bold;
}
ul.atom-link-bar.vertical {
  border: solid 1px lightgray;
}
ul.atom-link-bar.vertical > li.list-item {
  float: none;
  clear: both;
  text-align: left;
}
ul.atom-link-bar.horizontal > li.list-item {
  float: left;
  clear: none;
}
.atom-list-box .selected-item {
  background-color: darkblue;
  color: white;
}
.atom-column.atom-sort-asc > span {
  display: inline-block;
  padding-right: 18px;
  background-position: right;
  background-image: url('buttons/up.png');
  background-repeat: no-repeat;
}
.atom-column.atom-sort-desc > span {
  display: inline-block;
  padding-right: 18px;
  background-position: right;
  background-image: url('buttons/down.png');
  background-repeat: no-repeat;
}
ul.atom-toggle-button-bar {
  display: inline-block;
  padding: 5px;
  margin: 0;
}
ul.atom-toggle-button-bar > li.list-item {
  float: left;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}
ul.atom-toggle-button-bar > li.list-item > a {
  color: blue;
}
ul.atom-toggle-button-bar > li.list-item.selected-item {
  background-color: darkblue;
  color: white;
}
ul.atom-toggle-button-bar > li.list-item.selected-item > a {
  color: white;
}
ul.atom-tab-bar {
  display: inline-block;
  padding: 5px;
  margin: 0;
}
ul.atom-tab-bar > li.list-item {
  float: left;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}
ul.atom-tab-bar > li.list-item > a {
  color: blue;
}
ul.atom-tab-bar > li.list-item.selected-item {
  background-color: darkblue;
  color: white;
}
ul.atom-tab-bar > li.list-item.selected-item a {
  color: white;
}
.atom-view-stack {
  position: absolute;
}
.atom-view-stack .view-stack-child {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
.atom-view-stack .animate-left-property {
  -moz-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
.atom-view-stack .hidden {
  display: none;
}
.atom-view-stack-fill {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
/*#region application */
.atom-application {
  margin-left: auto;
  margin-right: auto;
}
.atom-dock-application {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.atom-dock-application > * {
  position: absolute;
}
.atom-busy-window {
  position: absolute;
  visibility: inherit;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border-style: solid 2px #DA3535;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.atom-busy-image {
  background-image: url('busy.gif');
}
/*#endregion */
/*#region phone-control */
.atom-phone-control {
  width: 450px;
  height: 25px;
}
.atom-pc-cs {
  float: left;
}
.atom-pc-num {
  float: left;
  width: 100px;
  margin-left: 2px;
}
.atom-pc-ext {
  float: left;
  width: 30px;
  margin-left: 2px;
}
.atom-pc-msg {
  float: left;
  width: 100px;
  margin-left: 2px;
}
/*#endregion */
/*#region window */
.atom-window-placeholder {
  position: absolute;
  left: 0px;
  top: 0px;
}
.atom-window-background {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(80, 80, 80, 0.5);
}
.atom-window {
  opacity: 1;
  background: transparent;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 10;
  position: absolute;
  background-color: #fff;
  border: none;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px;
}
.atom-window-title {
  background-color: #404040;
  text-align: left;
  height: 24px;
  padding-left: 9px;
  padding-top: 7px;
  font-size: 13px;
  border: 1px solid #404040;
  border-bottom: none;
  color: white;
}
.atom-window-close-button {
  text-align: right;
  position: absolute;
  right: 9px;
  top: 9px;
  cursor: pointer;
  z-index: 5;
  width: 16px;
  height: 16px;
  background-image: url('buttons/delete.png');
}
.atom-window-template {
  background-color: white;
  overflow: auto;
  border-top-width: 2px;
  padding: 0px;
}
.atom-window-template .atom-view-stack {
  margin: 2px 2px 2px 5px;
}
.atom-alert pre {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 30px;
  margin: 5px;
  position: absolute;
  padding: 5px 0 0 11px;
}
.atom-alert .buttons {
  /*margin-left: auto;
    margin-right: auto;*/
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 5px;
  /*text-align: center;*/
  text-align: right;
  margin-right: 20px;
}
.atom-alert button {
  width: 100px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
}
.atom-alert button:hover {
  border-color: #404040;
}
.atom-alert .confirm-buttons .ok {
  display: none;
}
.atom-alert .alert-buttons .yes {
  display: none;
}
.atom-alert .alert-buttons .no {
  display: none;
}
/*#endregion */
/*#region form-layout */
.atom-form {
  padding: 0px;
  margin: 0px;
}
.atom-form-label {
  text-align: right;
  vertical-align: top;
  font-weight: bold;
}
.atom-form-label-left {
  text-align: left;
  vertical-align: top;
  font-size: smaller;
}
.atom-form-content {
  text-align: left;
  vertical-align: top;
}
.atom-error-span {
  color: #ff0000;
}
.atom-form-error {
  border-color: #f00;
  color: #ffffff;
  float: right;
}
.atom-data-error {
  background-color: #f00;
  color: white;
}
.atom-form-required {
  color: #f00;
  vertical-align: top;
  font-size: larger;
}
/*#endregion */
/*#region form-grid */
.atom-form-grid {
  width: 100%;
}
.atom-form-grid-container {
  overflow-y: auto;
}
.atom-form-grid-label {
  text-align: right;
  font-weight: bold;
}
.atom-form-grid-required {
  width: 5px;
  color: red;
}
.atom-form-grid-not-required {
  width: 5px;
  color: white;
  color: transparent;
}
.atom-form-grid-content {
  width: 100%;
}
.atom-form-grid-content > * {
  width: 100%;
}
.atom-form-grid-content > div {
  width: auto;
  display: block;
}
.atom-form-grid-content > .atom-date-field {
  display: block;
  width: auto;
}
.atom-form-grid-content > input[type="password"] {
  width: auto;
}
.atom-form-grid-content > input[type="button"] {
  width: auto;
}
.atom-form-grid-content > input[type="submit"] {
  width: auto;
}
.atom-form-grid-content > button {
  width: auto;
}
.atom-form-grid-content > span {
  display: inline-block;
}
.atom-form-grid-row {
  width: 100%;
}
.atom-form-grid-error {
  color: red;
  background-color: red;
  float: right;
}
/*#endregion */
/*#region wizard */
.atom-wizard {
  padding: 4px;
}
.atom-wizard-command-bar {
  height: 40px;
  background: #e2e2e2;
  border-top: 1px solid #cfcfcf;
}
.atom-wizard-back-button {
  left: 5px;
  position: absolute;
  /*top:5px;*/
  margin-top: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eee;
  border: 1px solid #999;
  border-bottom-color: #888;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
  margin-left: 6px;
  height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}
.atom-wizard-back-button:hover {
  border: 1px solid #000;
  border-bottom-color: #111;
}
.atom-wizard-command-bar button {
  float: right;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  border-bottom-color: #3079ed;
  color: white;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
  margin-right: 6px;
  height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
  margin-top: 5px;
}
.atom-wizard-next-button {
  right: 5px;
  position: absolute;
  /*top:5px;*/
  margin-top: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  border-bottom-color: #3079ed;
  color: white;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
  margin-right: 6px;
  height: 27px;
  min-width: 54px;
  outline: 0;
  padding: 0 8px;
}
.atom-wizard-next-button:hover {
  background-color: #357ae8;
  border: 1px solid #255bb7;
  border-bottom-color: #2f5bb7;
}
.atom-wizard-next-button:active {
  background-color: #357ae8;
  border: 1px solid #255bb7;
  border-bottom-color: #2f5bb7;
}
/*# sourceMappingURL=atoms.css.map */