.atom-date-list-box
{
    width: 300px;
    height: 215px;
    position:relative;
    padding:2px;
    border: 1px solid lightgray;
    background-color:white;
}

.atom-date-list-box .calendar {
    width:200px;
    height:215px;
    position:absolute;
    left:2px;
    top:2px;
    background-color:white;
    z-index:11;
}

.atom-date-list-box .list {
    width:100px;
    height:200px;
    margin:1px;
    position:absolute;
    left:200px;
    top:2px;
    text-align:right;
    overflow:auto;
}


.atom-date-list-box .calendar .days {
    position:absolute;
    left:10px;
    top:35px;
    height:25px;
    text-align:center;
}

.atom-date-list-box .calendar .month {
    margin-left:10px;
    width:100px;
}

.atom-date-list-box .year{
    width:70px;
}

.atom-date-list-box .calendar .days span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:0px;
    padding:0px;
    float:left;
}

.atom-date-list-box .calendar .day-list {
    position:absolute;
    left:10px;
    top:62px;
    height:150px;
    width:180px;
}

.atom-date-list-box .calendar .list-item {
    width:23px;
    height:23px;
    margin:1px;
    padding:0px;
    float:left;
    text-align:center;
    cursor:pointer;
    text-decoration:none;
}

.atom-date-list-box .calendar .list-item:hover{
    margin:0px;
    border: 1px solid blue;
}

.atom-date-list-box .calendar .other {
    color:lightgray;
}

.atom-date-list-box .calendar .weekend-header {
    background-color: #bebebe
}

.atom-date-list-box .calendar .weekend {
    background-color: #eeeeee
}

.atom-date-list-box .calendar .today {
    background-color: #ff6a00
}


.atom-date-list-box .calendar .selected {
    background-color: darkgreen;
    color:white;
}
