.atom-date-field{
    position:relative;

    border: 1px solid lightgray;

    display:inline-block;

    padding:2px;

    cursor:pointer;
    height:15px;
}

.atom-date-field .date-label{
    display:block;
    padding-left:5px;
    padding-right: 20px;
    background-position:right top;
    background-image: url('buttons/down.png');
    background-repeat: no-repeat;
    height:18px;
}

.atom-date-field .date-label-open{
    background-image: url('buttons/up.png');
}


.atom-date-field .atom-date-list-box{
    position:absolute;
}

.atom-date-field .popup{
    margin-left:-2px;
    position:absolute;
    display:none;
    width:198px;
    height:200px;
    background-color:white;
    left:-1px;
    z-index:11;
}

.atom-date-field-popup{
    position:absolute;
}

.atom-date-field .popup-open{
    display:block;
}

.atom-date-field .popup-closed{
    display:none;
}


.atom-date-field .atom-date-list-box-calendar{
    left:0px;
    top:0px;
    border: 1px solid lightgray;
    border-top-style:none;
}
