.atom-column{

}

.atom-sort-asc > span{
    display:inline-block;
    padding-right:18px;
    background-position:right;
    background-image: url('buttons/up.png');
    background-repeat: no-repeat;
}


.atom-sort-desc > span{
    display:inline-block;
    padding-right:18px;
    background-position:right;
    background-image: url('buttons/down.png');
    background-repeat: no-repeat;
}
