        .cm-web-atom-attribute {
            color: #800080;font-weight: bold
        }
        .cm-web-atom-two-way-binding {
            color: #00008B;background-color: #FFE4C4;font-weight: bold
        }
        .cm-web-atom-binding {
            background-color: #ECF6CE;
        }
        .cm-web-atom-exp {
            background-color: #eaeaea;
        }
        .cm-web-atom-binding-exp {
            color: #008080;font-weight: bold
        }
        .cm-web-atom-style {
            color: #808080
        }
        .cm-web-atom-string {
            color: #FF0000;font-weight: bold
        }
        .cm-web-atom-string-attribute {
            color: #FF0000;
        }
        .cm-web-atom-event {
            color: #808080;
        }

        .cm-s-default span.cm-attribute {color: #FF0000;}
        
        .cm-s-default span.cm-string {color: #0000ff;}

        .cm-s-default span.cm-tag {color: #800000;}

        .cm-s-default span.cm-comment {color: #170;}

        .code-execute-link{
            text-align:right; position:absolute; bottom:5px;right:25px; 
            background-color:#c32e2e;
            color:white;
            border-radius:5px;
            padding:5px;
            z-index:200;
        }

        .code-execute-link a{
            text-decoration:none;
            color:white;
        }

        .code-execute-link a:hover{
            text-decoration:underline;
            color:white;
        }

